# GENERAL
DATABASE_PATH=data/local.db
SYNC_INTERVAL_SECONDS=300

# GOOGLE SHEET RESOURCE
GOOGLE_SHEET_ID=your_google_sheet_id
GOOGLE_WORKSHEET_NAME=your_worksheet_name
GOOGLE_RANGE=A:ZZ

# GOOGLE AUTH
GOOGLE_CREDENTIALS_FILE=credentials.json
GOOGLE_SERVICE_ACCOUNT_EMAIL=google_serviceaccount@project.iam.gserviceaccount.com
GOOGLE_OAUTH_CLIENT_FILE=google_oauth_client.json
GOOGLE_OAUTH_TOKEN_FILE=google_oauth_token.json

# BILLINGO
BILLINGO_API_KEY=ide_jon_a_v3_api_kulcs
BILLINGO_API_BASE_URL=https://api.billingo.hu/v3
BILLINGO_INVOICE_DRIVE_FOLDER_ID=your_google_driver_folder_id

#MBH ACCOUNT
DEFAULT_PAYMENT_ACCOUNT=bankszámlaszám
COMPANY_NAME=cégnév