# GENERAL
DATABASE_PATH=data/local.db
SYNC_INTERVAL_SECONDS=300

# GOOGLE SHEET RESOURCE
GOOGLE_SHEET_ID=your_google_sheet_id
GOOGLE_WORKSHEET_NAME=your_worksheet_name
GOOGLE_RANGE=A:ZZ

# GOOGLE AUTH
GOOGLE_CREDENTIALS_FILE=credentials.json
GOOGLE_SERVICE_ACCOUNT_EMAIL=google_serviceaccount@project.iam.gserviceaccount.com
GOOGLE_OAUTH_CLIENT_FILE=google_oauth_client.json
GOOGLE_OAUTH_TOKEN_FILE=google_oauth_token.json

# BILLINGO
BILLINGO_API_KEY=ide_jon_a_v3_api_kulcs
BILLINGO_API_BASE_URL=https://api.billingo.hu/v3
BILLINGO_INVOICE_DRIVE_FOLDER_ID=your_google_driver_folder_id

#MBH ACCOUNT INFO API
MBH_ACCOUNT_BASE_URL=https://<api_host_of_the_bank>/account-info-ob/v2
MBH_ACCOUNT_CLIENT_ID=appid@account-info-ob

#MBH PAYMENT API
MBH_PAYMENT_BASE_URL=https://<api_host_of_the_bank>/payment-init-ob/v2
MBH_PAYMENT_CLIENT_ID=appid@payment-init-ob

#MBH URI
MBH_ISSUER_URL=https://<_api_host_of_the_bank>/auth-v2/realms/ftb-sandbox
MBH_REDIRECT_URI=http://localhost:8000/account-info
MBH_TOKEN_URL=https://<_api_host_of_the_bank>/auth-v2/realms/ftb-sandbox/protocol/openid-connect/token
MBH_AUTHORIZATION_URL=https://<_api_host_of_the_bank>/auth-v2/realms/ftb-sandbox/protocol/openid-connect/auth

# MBH CERTS
MBH_PRIVATE_KEY_PATH=private_key.pem
MBH_PUBLIC_KEY_PATH=public_key.pem

MBH_QWAC_CERT_PATH=qwac-cert.pem
MBH_QWAC_KEY_PATH=qwac-key.pem

MBH_QSEAL_CERT_PATH=qseal-cert.pem
MBH_QSEAL_KEY_PATH=qseal-key.pem

# MBH COMMON
MBH_ACCOUNT_INFO_BASE_PATH=/account-info-ob/v2
MBH_ENVIRONMENT=sandbox #sandbox, production, certificate_simulation
MBH_SIGNING_ISS=C=GB, ST=England, L=London, O=Company Ltd.